<div id="section5" class="section horizontal">
    <div class="scroll-content-horizontal">
        <div class="horizontal-section">
            <h1>Página 4 - Horizontal</h1>
            <p>Esta es una sección con desplazamiento horizontal.</p>
            <img src="public/img/gears.svg" alt="Gear" class="gear" id="gear-2">
            <p>Contenido 1 de la sección horizontal.</p>
            <p>Contenido 2 de la sección horizontal.</p>
            <p>Contenido 2 de la sección horizontal.</p>
            <p>Contenido 2 de la sección horizontal.</p>
        </div>
        <div class="horizontal-section">
            <p>Contenido 2 de la sección horizontal.</p>
        </div>
        <div class="horizontal-section">
            <p>Contenido 3 de la sección horizontal.</p>
        </div>
        <div class="horizontal-section">
            <p>Contenido 4 de la sección horizontal.</p>
        </div>
    </div>
    <!-- Botones de navegación -->
<div class="buttons">
    <button onclick="navigate(-1)">Anterior</button>
    <button onclick="navigate(1)">Siguiente</button>
</div>
</div>
